{% extends "base.html" %}
{% block content %}
<h1>Awards and Achievements</h1>
<ul>
    I have been a constant rank holder at my school level. Among all the academic achievements at my school level, one of the most prominent ones is being a subject topper in biology in the ICSE exam securing marks of 100.
<br>
<br>
    Other than academics I have even won a number of laurels for my school at inter and intra levels at school debates, quizzes, dance, painting, and recitation.
<br> 
<br>
    At my college level, I have had an active participation at both academics and extra curricular activities.
</ul>
{% endblock %}
