{% extends "base.html" %}
{% block content %}
<h1>Projects</h1>
<ul>
    <li><strong>Project 1:-</strong> 
        <br>
        Weather app using python with time detection 
        <br>
        <br>
        The Weather App is a software application designed to provide users with real-time weather information for a given location. Leveraging the OpenWeatherMap API, the app fetches accurate and up-to-date meteorological data, allowing users to access comprehensive details about temperature, pressure, humidity, and weather descriptions. Built using the Python programming language and PySimpleGUI for the graphical user interface, the Weather App offers a user-friendly experience. Users can easily input the desired city name and receive a detailed weather report, including temperature in Kelvin, pressure in hPa, humidity in percentage, and a descriptive analysis of the current weather conditions.</li>

</ul>
{% endblock %}
